body {
    --shadow-sm: 0 2px 1px -1px rgba(0,0,0,.2),
                 0 1px 1px 0 rgba(0,0,0,.14),
                 0 1px 3px 0 rgba(0,0,0,.12) !important;
    --shadow-md-1: 0 3px 3px -2px rgba(0,0,0,.2),
                 0 3px 4px 0 rgba(0,0,0,.14),
                 0 1px 8px 0 rgba(0,0,0,.12) !important;
    --shadow-md-2: 0 3px 5px -1px rgba(0,0,0,.2),
                 0 5px 8px 0 rgba(0,0,0,.14),
                 0 1px 14px 0 rgba(0,0,0,.12) !important;
    --shadow-lg: 0 4px 5px -2px rgba(0,0,0,.2),
                 0 7px 10px 1px rgba(0,0,0,.14),
                 0 2px 16px 1px rgba(0,0,0,.12) !important;
}
/* close shadows in dark mode */
body.dark {
    --shadow-sm:   none !important;
    --shadow-md-1: none !important;
    --shadow-md-2: none !important;
    --shadow-lg:   none !important;
}
